<div class="flex flex-col justify-center items-center w-full mx-auto">
  <label class="text-2xl md:4xl lg:text-5xl xl:text-[64px] font-medium md:font-bold text-center leading-tight mb-5 md:mb-8 text-primary-black">
    {{ .title }}
  </label>
  {{ if eq .type "number"}}
    <div class="relative w-[90%] md:w-full max-w-screen-md">
      <div class="absolute top-1/2 -translate-y-1/2 left-5 text-base md:text-2xl">$</div>
      <input 
        name="{{ .name }}"
        type="{{ .type }}" 
        class="form-input w-full text-base md:text-2xl rounded-xl border-2 border-secondary max-w-screen-md bg-white pl-10 md:pl-12 pr-4 md:pr-6 py-3 md:py-6"
        required
        placeholder="{{ .placeholder }}"
      />
    </div>
  {{ else }}
    <input 
      name="{{ .name }}"
      type="{{ .type }}" 
      class="form-input w-[90%] md:w-full text-base md:text-2xl rounded-xl border-2 border-secondary max-w-screen-md px-4 md:px-6 py-3 md:py-6"
      required
      placeholder="{{ .placeholder }}"
    />
  {{ end }}
</div>