<!-- <script>
  // Toggle Menu
  const toggleMenu = document.querySelector('.toggle-menu')
  const menu = document.querySelector('.menu')
  toggleMenu.addEventListener('click', (e) => {
    menu.classList.toggle('translate-y-[-150%]')
    navbar.classList.toggle('!bg-secondary')
  })
</script> -->

<script type="module">
  import "https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"

  const swiper = new Swiper('.swiper-form', {
    allowTouchMove: false,
    slidesPerView: 1,
    navigation: {
      prevEl: '.swiper-prev-slide',
      nextEl: '.swiper-next-slide',
      disabledClass: 'navigation-disabled',
      lockClass: 'hidden'
    },
    pagination: {
      el: '.swiper-pagination-form',
      bulletClass: 'swiper-pagination-form-bullet',
      bulletActiveClass: 'swiper-pagination-form-bullet-active',
			clickable: true,
      renderBullet: function (index, className) {
        return index > 0 ? `<button class="${className}"> Step 1 - ${index} </button>` : ' '
      },
      on: {
        paginationUpdate(swiper) {
          console.log(swiper);
        }
      }
    },
  })
  
  // enter on input to next slide
  const formInputs = document.querySelectorAll('.form-input')
  formInputs.forEach(input => {
    input.addEventListener('keyup', e => {
      if(e.key == 'Enter') {
       swiper.slideNext()
      }
    })
  })

  swiper.on('slideChange', function () {

    // auto focus input after slide change
    const activeSlide = swiper.slides[swiper.activeIndex]
    const activeSlideInput = activeSlide?.querySelector('.form-input')
    const slideNextButton = document.querySelector('.swiper-navigation-form.swiper-next-slide')
    // setTimeout(() => {
    //   activeSlideInput?.focus()
    // }, 300);

    // if input no have value, disabled navigation
    if(activeSlideInput) {
      if(activeSlideInput?.value) {
        navigationActive(true)
      } else {
        navigationActive(false)
      }
      activeSlideInput?.addEventListener('input', (e) => {
        if(e.target.value) {
          navigationActive(true)
        } else {
          navigationActive(false)
        }
      })
    }
    function navigationActive(status) {
      slideNextButton.classList[status ? 'remove' : 'add']('navigation-disabled')
      swiper.allowSlideNext = status
    }

  });

  
  // pagination style logic
  const paginationForm = document.querySelector('.swiper-pagination-form')
  const paginations = document.querySelectorAll('.swiper-pagination-form-bullet')
  const swiperLength = swiper.slides.length - 1

  swiper.on('paginationUpdate', (swiper) => {
    if(swiper.activeIndex === swiperLength) {
      paginationForm.style.opacity = '0'
    } else {
      paginationForm.style.opacity = '100'
    }
    paginations.forEach((page, i) => {
      if((i - 1) < swiper.activeIndex ) {
        page.classList.add('swiper-pagination-form-bullet-active')
      }
    })
  })


</script>