{{ define "main" }}
  <iframe name="hidden_iframe" id="hidden_iframe" class="hidden"></iframe>
  <form id="form" class="relative" method="POST" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSfETnmATfkWTr0XrWKATYt4aV9qyAYSAuoFUz0J2iACnpzhRg/formResponse" target="hidden_iframe" onkeydown="return event.key != 'Enter';">

    <!-- Slider main container -->
    <section class="swiper swiper-form">

      <div class="swiper-wrapper">
        {{ range .Site.Params.Slides }}
          <div class="swiper-slide flex flex-col justify-center items-center w-full !overflow-auto">

            {{ if eq .slideType "input"}}
              <div class="!pb-[16rem] pt-64 w-full">
                {{ partial "components/label-input.html" (dict
                  "id" .id
                  "title" .title 
                  "name" .name 
                  "type" .type 
                  "placeholder" .placeholder 
                )}}
              </div>

            {{ else if eq .slideType "input-radio" }}
            <div class="!pb-[16rem] pt-64 w-full">
              {{ partial "components/label-input-radio.html" (dict 
              "id" .id
              "title" .title 
              "name" .name 
              "type" .type 
              "values" .values
              )}}
            </div>

            {{ else if eq .slideType "view" }}
              {{ partial .view }}
            {{ end }}
            
          </div>
        {{ end}}
      </div>

      {{ partial "components/slide-navigation.html" (dict "type" "desktop") }}

      <div class="fixed bottom-0 left-0 w-full  z-50">
        <div class="w-full flex items-center justify-center bg-primary-white"> 
          {{ partial "components/slide-navigation.html" (dict "type" "mobile") }}
        </div>
        <div class="px-0 md:px-10">
          <div class="swiper-pagination-form max-w-screen-lg mx-auto bg-primary-white"></div>
        </div>
      </div>
    </section>  

  </form>
  
{{end}}
