{{ define "main" }}

<div class="h-screen relative">
  <!-- Slider main container -->
  <section class="swiper swiper-form">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper !pt-48">

      <!-- Slide 1 - Welcome -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-lg mx-auto">
          <h1 class="text-[64px] font-bold text-center leading-tight mb-8">
            Welcome To The <span class="text-primary">Growhaus</span> Business Audit
          </h1>
          <button class="swiper-next-slide !text-white bg-primary px-12 py-5 rounded-xl text-2xl font-bold">
            Get Started
          </button>
        </div>
      </div>

      <!-- Slide 2 - Email Address -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Your Email AddressL"
          "name" "ok"
          "type" "email"
          "placeholder" "example@gmail.com"
        )}}
      </div>

      <!-- Slide 3 - Store URL -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Store URL"
          "name" "ok"
          "type" "text"
          "placeholder" "Example: mystore.com"
        )}}
      </div>

      <!-- Slide 4 - Login Shopify -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-lg mx-auto">
          <h2 class="text-4xl font-semibold text-center leading-tight mb-8">
            please login to shopify for the following metrics
          </h2>
          <div class="mb-8 relative">
            <img class="rounded-md" src="/assets/images/video.png" alt="">
            <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
              <img src="/assets/images/btn-play.svg" alt="">
            </div>
          </div>

          <a href="#" class="!text-white bg-primary px-12 py-5 rounded-xl text-2xl font-bold">
            Login
          </a>
        </div>
      </div>

      <!-- Slide 5 - Total Revenue -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" " Total Revenue"
          "name" "ok"
          "type" "text"
          "placeholder" "Your Answer"
        )}}
      </div>

      <!-- Slide 6 - Total Adspend -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Total Adspend"
          "name" "ok"
          "type" "text"
          "placeholder" "Your Answer"
        )}}
      </div>

      <!-- Slide 7 - Sessions -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Sessions"
          "name" "ok"
          "type" "text"
          "placeholder" "Your Answer"
        )}}
      </div>

      <!-- Slide 8 - Added to cart -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Add to Chart"
          "name" "ok"
          "type" "text"
          "placeholder" "Your Answer"
        )}}
      </div>



      <!-- Slide 9 - Reached Checkout -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Reached Checkout"
          "name" "ok"
          "type" "text"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 10 - Sessions Converted -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Sessions Converted"
          "name" "ok"
          "type" "text"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 11 - Returning Customer Rate -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Returning Customer Rate"
          "name" "ok"
          "type" "text"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 12 - Login Shopify -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-lg mx-auto">
          <h2 class="text-4xl font-semibold text-center leading-tight mb-8">
            Please login to klaviyo for the next questions
          </h2>
          <div class="mb-8 relative">
            <img class="rounded-md" src="/assets/images/video.png" alt="">
            <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
              <img src="/assets/images/btn-play.svg" alt="">
            </div>
          </div>

          <a href="#" class="!text-white bg-primary px-12 py-5 rounded-xl text-2xl font-bold">
            Login
          </a>
        </div>
      </div>

      <!-- Slide 13 - Revenue from Klaviyo -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Revenue from Klaviyo"
          "name" "ok"
          "type" "number"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 14 - Revenue from Flows   -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Revenue from Flows"
          "name" "ok"
          "type" "number"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 15 - Revenue from Campaigns -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Revenue from Campaigns"
          "name" "ok"
          "type" "number"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 16 - Email Revenue -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "Email Revenue"
          "name" "ok"
          "type" "number"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 17 - SMS Revenue -->
      <div class="swiper-slide">
        {{ partial "components/labelinput.html" (dict
          "title" "SMS Revenue"
          "name" "ok"
          "type" "number"
          "placeholder" "Your answer"
        )}}
      </div>

      <!-- Slide 18 - Login Shopify -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-lg mx-auto">
          <h2 class="text-4xl font-semibold text-center leading-tight mb-8">
            Please select signup forms in klaviyo
          </h2>
          <div class="mb-8 relative">
            <img class="rounded-md" src="/assets/images/video.png" alt="">
            <div class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2">
              <img src="/assets/images/btn-play.svg" alt="">
            </div>
          </div>

          <a href="#" class="!text-white bg-primary px-12 py-5 rounded-xl text-2xl font-bold">
            Signup
          </a>
        </div>
      </div>

      <!-- Slide 19 - Please Your Rating -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-lg mx-auto">
          <label class="text-[64px] font-bold text-center leading-tight mb-8 text-primary-black">
            Please Your Rating
          </label>
          <div>
            <label label="rating-1">
              <input id="rating-1" type="checkbox" class="hidden peer">
              <div class="block px-4 py-2 rounded-md bg-white border border-transparent peer-checked:border-primary">
                This is very helpful
              </div>
            </label>
          </div>
        </div>
      </div>

      <!-- Slide 19 - Submit Your Form -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-lg mx-auto">
          <h2 class="text-[64px] font-bold text-center leading-tight mb-8">
            Submit Your Form
          </h2>
          <a href="#" class="!text-white bg-primary px-12 py-5 rounded-xl text-2xl font-bold">
            Submit
          </a>
        </div>
      </div>

      <!-- Slide 20 - Thanks you for submitting -->
      <div class="swiper-slide">
        <div class="flex flex-col justify-center items-center max-w-screen-xl mx-auto">
          <h1 class="text-[64px] font-bold text-center leading-tight mb-8">
            Thank you for submitting your metrics for a store audit, the <span class="text-primary">Growhaus</span> team
            will be in contact shortly
          </h1>
          <button class="!text-white bg-primary px-12 py-5 rounded-xl text-2xl font-bold">
            Back to home
          </button>
        </div>
      </div>

    </div>

    <div class="swiper-pagination-form transition duration-300"></div>

    <button
      class="swiper-prev-slide absolute top-1/2 -translate-y-1/2 left-12 z-50 hover:opacity-90 active:bg-secondary/[0.02] rounded-full overflow-hidden p-2 transition text-primary">
      <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M56.2126 8.58901C57.1968 9.57353 57.7497 10.9086 57.7497 12.3008C57.7497 13.6929 57.1968 15.028 56.2126 16.0125L30.2251 42L56.2126 67.9875C57.1689 68.9777 57.6981 70.3038 57.6861 71.6804C57.6742 73.0569 57.1221 74.3737 56.1487 75.3471C55.1753 76.3205 53.8585 76.8726 52.482 76.8846C51.1054 76.8965 49.7793 76.3673 48.7891 75.411L19.0899 45.7118C18.1056 44.7272 17.5527 43.3921 17.5527 42C17.5527 40.6079 18.1056 39.2728 19.0899 38.2883L48.7891 8.58901C49.7736 7.60479 51.1088 7.05188 52.5009 7.05188C53.893 7.05188 55.2281 7.60479 56.2126 8.58901Z"
          fill="currentColor" />
      </svg>
    </button>
    <button
      class="swiper-next-slide absolute top-1/2 -translate-y-1/2 right-12 z-50 hover:opacity-90 active:bg-secondary/[0.02] rounded-full overflow-hidden p-2 transition text-primary">
      <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M27.7882 8.58901C26.804 9.57353 26.2511 10.9086 26.2511 12.3008C26.2511 13.6929 26.804 15.028 27.7882 16.0125L53.7757 42L27.7882 67.9875C26.8319 68.9777 26.3027 70.3038 26.3147 71.6804C26.3267 73.0569 26.8788 74.3737 27.8522 75.3471C28.8256 76.3205 30.1424 76.8726 31.5189 76.8846C32.8954 76.8965 34.2216 76.3673 35.2117 75.411L64.911 45.7118C65.8952 44.7272 66.4481 43.3921 66.4481 42C66.4481 40.6079 65.8952 39.2728 64.911 38.2883L35.2117 8.58901C34.2272 7.60479 32.8921 7.05188 31.5 7.05188C30.1079 7.05188 28.7728 7.60479 27.7882 8.58901Z"
          fill="currentColor" />
      </svg>
    </button>



  </section>


</div>

{{end}}